@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Space Mono", monospace;
}

@layer base {
  .container {
    @apply max-w-6xl mx-auto lg:px-48;
  }
}

@layer components {
  .paginate-btn {
    @apply w-4 h-4 text-gray-800;
  }
}

:root {
  --gray: #697c9a;
  --darkSky: #4b6a9b;
  --darkBlue: #2b3442;
  --lightBg: #f6f8ff;
  --light: #fefefe;
  --white: #ffffff;
  --dark: #141d2f;
  --error: #f74646;
}
