@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Space Mono", monospace;
}

@layer base {
  .container {
    @apply max-w-6xl mx-auto lg:px-48;
  }
}

@layer components {
  .paginate-btn {
    @apply w-4 h-4 text-gray-800;
  }
  .user-layout-mobile {
    grid-template-rows: 68px 32px 1fr 140px 175px;
    grid-template-columns: 76px 1fr;
  }
  .user-layout-tablet {
    grid-template-rows: 60px 32px 1fr 140px 114px;
    grid-template-columns: 76px 1fr;
  }
  .user-layout-desktop {
    grid-template-columns: 117px repeat(4, 1fr);
    grid-template-rows: 46px 1fr 140px 96px;
    column-gap: 40px;
  }
}

:root {
  --gray: #697c9a;
  --darkBlue: #2b3442;
  --error: #f74646;
}
.pagination-container {
  display: flex;
  @apply flex gap-x-1 md:gap-x-3;
}
.paginate-buttons {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(217, 217, 217);
  color: black;
}
.paginate-buttons:hover {
  background-color: #d8d8d8;
}
.active-page {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: white;
}
.active-page:hover {
  background-color: #2988c8;
}
